.sdv-flyer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.sdv-flyer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: transparent;
    z-index: 999999;
    overflow: visible;
}

.sdv-flyer-container a {
    display: block;
    position: absolute;
}

.sdv-flyer-container img {
    display: block;
    width: auto;
    max-width: inherit;
}
